<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" 
        data-toggle="collapse" 
        data-target="#navbarTogglerDemo01" 
        aria-controls="navbarTogglerDemo01" 
        aria-expanded="false" 
        aria-label="Toggle navigation"
        (click)="toggleNavbar()">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01" [ngClass]="{ 'show': navbarOpen }">
      <a class="navbar-brand" href="#">Hidden brand</a>
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav> -->


  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" (click)="toggleNavbar()"  data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01" [ngClass]="{ 'show': navbarOpen }">
      <a class="navbar-brand" href="#">MY App</a>
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link disabled" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>
       
      </ul>
      <div class="d-flex" style="margin-right: 40px;">
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0" *ngIf="isLoggedIn">
          <li ngbDropdown class="nav-item dropdown ml-auto col float-right">
            <a ngbDropdownToggle class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" >
              Link
            </a>
            <div ngbDropdownMenu  class="dropdown-menu" show aria-labelledby="navbarDropdown">
              <a class="dropdown-item" ngbDropdownItem href="#"> <i class="fa fa-tachometer"></i>&nbsp;&nbsp;Dashboard</a>
              <hr class="dropdown-divider">
              <a class="dropdown-item" ngbDropdownItem href="#"> <i class="fa fa-eye"></i>&nbsp;&nbsp;View Profile</a>
              <hr class="dropdown-divider">
              <a class="dropdown-item" ngbDropdownItem href="#"><i class="fa fa-pencil-square-o"></i>&nbsp;&nbsp;Edit Profile</a>
              <hr class="dropdown-divider">
              <a class="dropdown-item" ngbDropdownItem href="#"><i class="fa fa-eye"></i>&nbsp;&nbsp;Change Password</a>
              <hr class="dropdown-divider">
              <a class="dropdown-item" ngbDropdownItem href="#"><i class="fa fa-power-off"></i>&nbsp;&nbsp;Sign Out</a>
            </div>
          </li>
        </ul>
        <button *ngIf="!isLoggedIn" class="btn btn-outline-success" type="submit">Sign In</button>
      </div>
    </div>
  </nav>
  

  