<div>
  <form [formGroup]="Form" (ngSubmit)="onSubmit()">
    <div class="card" style="width: 30%; margin: 50px auto 0;">
        <div class="card-body">
            <div class="form-group input-group mb-3">
                <span class="input-group-text"><i class="fa fa-envelope"></i></span>
                <input type="text" class="form-control" formControlName="email" placeholder="Enter Email" aria-label="Username" aria-describedby="basic-addon1">
              </div>
              <div class="form-group input-group mb-3">
                <span class="input-group-text"><i class="fa fa-lock"></i></span>
                <input type="password" class="form-control" formControlName="password" placeholder="Enter Password" aria-label="Username" aria-describedby="basic-addon1">
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-outline-primary btn-block">{{loginMode ? 'Sign In' : 'Create Account'}}</button>
              </div>
              <p> {{loginMode ? 'Dont have account' : 'Already have an account'}} ? <a href="#" (click)="onModeSwitch()">{{loginMode ? 'Create one' : 'Sign In'}}</a> </p>
              <a href="">Forgot Password</a>
        </div>
    </div>
  </form>
</div>
